@import '../../public/css/pubilc.scss';

.usr {
  &-info {
    display: flex;
    justify-content: space-between;
    padding: 32px 64px;
    background: $bgWhite;
    img {
      border-radius: 100%;
      width: 96px;
      height: 96px;
      background: $btnColor;
    }
    &-name {
      width: 70%;
      height: 96px;
      line-height: 96px;
      font-size: 32px;
      // .anticon{
      //   color: $btnColor;
      //   float: right;
      //   line-height: 96px;
      //   font-size: 36px;
      // }
    }
  }
  &-list {
    display: flex;
    padding:  32px 0;
    margin-top: 48px;
    background:  $bgWhite;
    &-li {
      width: 25%;
      height: 96px;
      text-align: center;
      &-icon .anticon {
        font-size: 64px;
        color: $textColor;
      }
      &-tit span {
        color: $textColor;
      }
    }
  }
}

.info {
  width: 100%;
  &-li {
    padding: 0 5%;
    border-bottom: 2px solid $borderColor;
    height: 96px;
    line-height: 96px;
    background: $bgWhite;
    span {
      margin-left: 1.2rem;
    }
  }
  // .anticon, .pcicon {
  //   font-size: 1.2rem;
  // }
  // .anticon-right {
  //   float: right;
  //   line-height: 3rem;
  //   color: $textColor;
  // }
  &-btn {
    margin-left: 5%;
    margin-top: 48px;
    width: 90%;
    height: 96px;
  }
}

.set {
  text-align: center;
  &-input {
    padding:  0 5%;
    border: 0;
    border-bottom: 1px solid $borderColor;
    width: 100%;
    height: 96px;
    font-size: 32px;
  }
  &-tip {
    margin-top: .5rem;
  }
  &-btn {
    margin-top: 72px;
    width: 90%;
    height: 96px;
  }
}