@import '../../../public/css/pubilc.scss';

.pop_not {
  z-index: 9999;
  position: fixed;
  top: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  width:100%;
  height: 100%;
  background: rgba(0, 0, 0, .4);
  > div {
    width: 70%;
    min-width: 2rem;
  }
  &-cont {
    border-radius: 5px;
    border: 1px solid $btnColor;
    padding: 64px 16px;
    // min-height: 300px;
    background: $bgWhite;
  }
  &-close {
    margin-top: 32px;
    color: $bgWhite;
    font-size: 80px;
    text-align: center;
  }
}
.pop_not_show {
  display: none;
}