@import  '../../../public/css/pubilc.scss';

.header{
  position: fixed;
  height: 1rem;
  line-height: 1rem;
  width: 100%;
  color: #fff;
  background: $backColor;
  text-align: center;
  &-back {
    display: flex;
    align-items: center;
    float: left;
    margin-top: calc(.5rem - 36px);
    margin-right: calc(.5rem - 36px);
    font-size: 36px;
    &-hidden {
      // display: none;
      color: transparent;
    }
  }
  &-user {
    display: flex;
    align-items: center;
    float: right;
    margin-top: calc(.5rem - 36px); 
    margin-right: calc(.5rem - 36px);
    font-size: 36px;
    &-hidden {
      // display: none;
      color: transparent;
    }
  }
  &-title {
    font-size: 36px;
  }
}