@import '../../public/css/pubilc.scss';

.home{
  background: $bgWhite;
  &-btn {
    margin-left: 17%;
    margin-top: 48px;
    width: 66%;
    height: 96px;
    line-height: 96px;
    font-size: 40px;
  }
  &-date {
    padding: 0 10%;
    margin: 32px 0;
    text-align: center;
    >div {
      border-top: 3px solid $qianColor;
      border-bottom: 3px solid $qianColor;
    }
  }
}